body
{
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Kollektif', sans-serif;
  background-color: #56254bff;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #484848 #212121;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: #484848;
  border-radius: 20px;
  border: 2px solid #484848;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.container .content,
.container .img {
  flex: 1 0 12em;
}

.text {
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}

#mainpage {
  background: linear-gradient(45deg,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(../assets/synthwave.gif) no-repeat center center fixed;
  background-size: cover;
}

.content {
  font-size: 20px;
  text-align: center;
}

section {
  height: 100vh;
}

h1 { 
  font-family: 'Raleway';
}

.head1 {
  padding-top: 40px;
  font-size: calc(1.5em + 2vw);
  color: #ffffff;
}

#esclamation { 
  display: inline-block;
  position: relative;
}

.subtitle { 
  font-size: calc(0.7em + 0.5vw);
  color: #fff;
  display: block;
  margin: 0 10px;
}

a.subtitle {
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}

#red {
  color: #cc0000;
}

#redbutton {
  color: #cc0000;
  border-color: #cc0000;
}
#redbutton:hover {
  color: #ffcc00;
  background: #cc0000;
  border-color: #cc0000;
}

#yellow {
  color: #ffcc00;
}
.buttons3 {
  display: inline-block;
  margin-top: 10px;
}

a.button {
  border-color: #ff4d0d;
  border-style: solid;
  border-width: 2px;
  outline: 0;
  padding: 0.55em 1.2em;
  box-sizing: border-box;
  display: inline-block;
  color: #fff;
  background: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  font-size: calc(0.5em + 0.4vw);
  margin: 20px 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 30%;
}

a.button:hover {
  color: #4C2447;
  background: #ff4d0d;
  border-color: #ff4d0d;
  transition: all 0.2s linear;
}

.s1 {
  max-width: 70%;
  margin: auto;
  padding-top: 15%;
  padding-bottom: 15%;
  height: 120%; 
}

.s2 {
  background: url(../assets/zigzag.svg) repeat;
  background-size: 10% auto;
  width: 100%;
}

.s3 {
  background: url(../assets/graph.svg) repeat;
  background-size: 15% auto;
  background-attachment: fixed;
  width: 100%;
  height: 120%;
}

.s4 {
  background: linear-gradient(45deg,rgba(76, 36, 71, 0.85),rgba(126, 101, 112, 0.85)), url(../assets/gnu.gif) no-repeat center center fixed;
  background-size: cover;
  box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
  width: 100%;
}

.s5 {
  background: url(../assets/inter.svg) repeat;
  background-size: 4% auto;
  background-attachment: fixed;
  width: 100%;
}

.s6 {
  background: url(../assets/scale.svg) repeat;
  background-size: auto 100%;
  width: 100%;
}

.s7 {
  margin-top: 20vw;
  width: 100%;
}

.s2landing {
  width: 50%;
  position: absolute;
  right: 10px;
  bottom: 10px;
  top: 1200px;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #ff4d0d;
  text-align: center;
}

#left {
  text-align: left;
}

.grid {
  text-align: center;
  position: relative;
  width: 80%;
  height: 20vw;
  overflow-y: scroll;
  border: 4px solid #484848;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  text-align: center;
}

.column {
  flex: 30%;
  max-width: 30%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .s1, .s2, .s3, .s4, .s5, .s6, .s7 {
    height: 100%;
    padding: 50% 0;
  }
}

@media (max-width: 680px) {
  .s1 {
  max-width: 100%;
  padding-top: 20%;
  margin: auto;
  } 
  .buttons3 {
   width: 80%;
  }
  
  a.button {
   font-size: calc(0.7em + 0.5vw);
   max-width: 90%;
   width: 90%;
  }
}
